html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app {
    height: 100%;
}

.content {
    overflow: hidden;
    height: 100%;
}

.error {
    top: 10px;
    right: 10px;
    z-index: 50000;
    position: fixed;
    opacity: 0.8;
    border-radius: 4px;
    color: #FFF;
    background: #C0392B;
    padding: 10px;
}
.error.show {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.error.hide {
    opacity: 0;
}

.error .growl-title {
    font-size: 14px;
    line-height: 18px;
}

.error .growl-message {
    font-size: 14px;
    line-height: 18px;
}

.row {
    height: 100%;
    font-size: 16px;
}

.jsx {
    float: left;
    width: 50%;
    background-color: #36312C;
    color: #EBD1B7;
}

.jsx textarea {
    font-family: "PT Sans",sans-serif;
    line-height: 1.65;
    letter-spacing: normal;
    width: 90%;
    margin: 0 auto;
    display: block;
    height: 100%;
    background: none;
    border: none;
    padding: 30px 0;
    outline: none;
}

.js {
    float: left;
    width: 50%;
}

.js pre {
    width: 90%;
    margin: 0 auto;
    display: block;
    height: 100%;
    padding: 30px 0;
    white-space: -moz-pre-wrap;
    /* Opera 4-6 */
    white-space: -pre-wrap;
    /* Opera 7 */
    white-space: -o-pre-wrap;
    /* CSS3 */
    white-space: pre-wrap;
    /* IE 5.5+ */
    word-wrap: break-word;
}